#profile {
    border: 5px solid #ff6666;
    border-radius: 25px;
    margin: auto;
    width: 50%;
    padding: 40px;
    color: #ffe6e6;
}

#profile ul {
    list-style: none;
    width: 100%;
    margin: 5px 0 8px 0;
}