<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>White Board Master | Home</title>
    <link rel="stylesheet" th:href="@{/layout.css}"/>
    <link rel="stylesheet" th:href="@{/home.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/build">Whiteboard</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">[[${username}]]</a></li>
        </ul>
    </nav>
    <div class="pageTitle">
        <h1>Welcome to Whiteboard Master, [[${username}]]</h1>
    </div>
    <div>
        <img src="/images/arrayInsert.png" alt="heroImg" height="300" width="450">
        <a href="/build"><button>Start</button></a>

    </div>
</body>
</html>