<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <!-- <link rel="stylesheet" th:href="@{/layout.css}"/>
    <link rel="stylesheet" th:href="@{/profile.css}"/> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/">Whiteboard Master</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/build">Whiteboard</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li class="active"><a href="/profile">[[${username}]]</a></li>
                  </ul>
                </div>
            </nav>
        </div>

        <div class="pageTitle">
            <h1>My saved algorithms:</h1>
        </div>

        <h2>[[${username}]]'s profile:</h2>
        <dl class="dl-horizontal" id="profile">
            <dt></dt>
            <dd><img src="/images/profile/graduated.png" alt="profile" height="200" width="200"></dd>
            <dt>First Name:</dt>
            <dd>[[${firstName}]]</dd>
            <dt>Last Name:</dt>
            <dd>[[${lastName}]]</dd>

            <ul class="list-group">
                <li th:each="board : ${boards}" class="list-group-item"><a th:href="'/board/'+${board.id}">[[${board.title}]]</a></li>
            </ul>
        </dl>


    </div>


</body>
</html>