<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link rel="stylesheet" th:href="@{/layout.css}"/>
    <link rel="stylesheet" th:href="@{/profile.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">[[${user.username}]]</a></li>
        </ul>
    </nav>
    <div class="pageTitle">
        <h1>My saved algorithms:</h1>
    </div>
    <div id="profile">
        <h2>[[${user.username}]]'s profile:</h2>
        <ul>
            <li><img src="/images/profile/graduated.png" alt="profile" height="100" width="100"></li>
            <li>First Name: [[${user.firstName}]]</span></li>
            <li>Last Name: [[${user.lastName}]]</span></li>
        </ul>
    </div>
</body>
</html>