<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>White Board Master | My page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #crudForm {
            overflow: hidden;
        }
        #crudForm form {
            float:left;
        }
        form {
            margin: 10px;
        }
        .list-group code {
            font-size: 2em;
        }
        p {
            font-size: 1.4em;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/">Whiteboard Master</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/build">Whiteboard</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li class="active"><a href="/profile">[[${username}]]</a></li>
                  </ul>
                </div>
            </nav>
        </div>

        <div class="pageTitle">
            <pre><h1>[[${username}]]'s saved algorithms:</h1></pre>
        </div>

        <dl class="dl-horizontal" id="profile">
            <dt></dt>
            <dd><img src="/images/profile/graduated.png" alt="profile" height="200" width="200"></dd>
            <dt><p>First Name:</p></dt>
            <dd><p>[[${firstName}]]</p></dd>
            <dt><p>Last Name:</p></dt>
            <dd><p>[[${lastName}]]</p></dd>

            <ul class="list-group">
                <li th:each="board : ${boards}" class="list-group-item">
                    <code><a th:href="'/board/' + ${board.id}">[[${board.title}]]</a></code>
                    <br>
                    <img th:src="'/images/' + ${board.visual} + '.png'" alt="${board.visual}" width=340 >
                    <div id="crudForm">
                        <form class="form-horizontal" th:action="'/board/'+${board.id}" method="GET">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">View</button>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" action="/update" method="GET">
                            <input type="hidden" th:value="${board.id}" name="id">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Update</button>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" action="/delete" method="GET">
                            <input type="hidden" th:value="${board.id}" name="id">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Delete</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </dl>
        

    </div>
</body>
</html>