<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>White Board Master | Main</title>
    <link rel="stylesheet" th:href="@{/layout.css}"/>
    <link rel="stylesheet" th:href="@{/whiteBoard.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.js"
            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/html2canvas.min.js"></script>
</head>
<body id="dvContainer">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">[[${username}]]</a></li>
        </ul>
    </nav>
    <div class="pageTitle">
        <h1>Whiteboard Master</h1>
    </div>
      <form method="POST" action="/generate">
        <button type="submit">Generate File</button>
    </form>

</body>
<footer>
    <script type="text/javascript" src="/js/generateImage.js"></script>
</footer>
</html>